body {
    text-align: center;
    background-color: #5e4334;
    font-family: Trebuchet MS ,Helvetica, sans-serif;
    color: #ffffff;
}

header {
    background-color: #b59870;
    font-family: Trebuchet MS ,Helvetica, sans-serif;
    color: #ffffff;
}

