.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background-color: #253237;
  font-family: "montserrat", sans-serif;
}

.navbar {
  width: 100%;
  overflow: hidden;
  background-color: #5c6b73;
  display: flex;
  justify-content: center;
  padding: 12px 0;
}

.navbar a {
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 24px;
}

.title {
  color: white;
  text-decoration: none;
  font-size: 120px;
  text-align: center;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-family: "Trattatello", sans-serif;
}

.subtitle {
  color: white;
  text-decoration: none;
  font-size: 24px;
  text-align: center;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.description {
  color: white;
  text-decoration: none;
  font-size: 24px;
  text-align: center;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: #cacaca87;
}




.copyright {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
  padding: 15px;
  max-width: 1200px;
  margin: 0 auto;
}

.gallery img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.2s;
  filter: blur(0.5px); /* Optional: slight blur for LQ images */
}

.gallery img:hover {
    transform: scale(1.02);
}

.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.lightbox.active {
    display: flex;
}

.lightbox-content {
    max-width: 90%;
    max-height: 90%;
    position: relative;
}

.lightbox img {
    max-width: 100%;
    max-height: 90vh;
}

.close {
    position: absolute;
    top: -40px;
    right: -10px;
    color: white;
    font-size: 40px;
    cursor: pointer;
}