<footer>
    <nav class="footernav">
      <a href="https://webpages.uncc.edu/cbetts3/">Charlotte.edu</a>
      <a href="https://github.com/ChrisB3tts/ChrisB3tts.github.io">Github</a>
      <a href="https://ChrisB3tts.github.io">Github.io</a>
      <a href="https://www.freecodecamp.org/ChristopherBetts">FreeCodeCamp</a>
      <a href="https://www.codecademy.com/profiles/ruby2160838193">Codecademy</a>
      <a href="https://www.linkedin.com/in/christopher-betts-064b27310/">LinkedIn</a>
    </nav>

    <p class="signature">
      Page built by: <a href="bettsbest.io/index.html">bettsbest.io</a>,
      <a href="https://www.freecodecamp.org/certification/ChristopherBetts/responsive-web-design">Certified in
        Responsive Web Design</a>
    </p>
  </footer>